name: Test PHP
on:
    push:
        branches: 
            - main
    workflow_dispatch:
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Get composer
              uses: php-actions/composer@v6

            - name: Ejecutar Script
              run: ./vendor/bin/phpunit tests/EmailTest.php